#tableDiv{
    margin: 70px 60px;
}
input[type=text]:focus{
    border: 1px solid rgba(70, 121, 111, 0.37);
    box-sizing: border-box;
    -webkit-transition: 0.1s;
    transition: 0.1s;
    outline: none;
    background-color: rgba(220, 213, 213, 0.51);
}
input[type=text] {
    font-family: Calibri;
    font-size: 16px;
    width: 100%;
    padding: 10px;
    margin: 8px 0px 5px;
    box-sizing: border-box;
    border: 1px solid #c3bebe;
    border-radius: 5px;
    background-color: rgba(202, 213, 213, 0.22);
}
table {
    border-collapse: collapse;
    width: 100%;
    font-family: Calibri;
    font-size: 20px;
}

th, td {
    height: 30px;
    text-align: left;
}
.button{
    color: white;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
}
.buttonBlue{
    background-color: white;
    color: #008CBA;
    border: 1px solid #008CBA;
    border-radius: 5px;
}
.buttonBlue:hover{
    background-color: #008CBA;
    color: white;
}
.buttonRed:hover{
    background-color: #f44336;
    color: white;
}
.buttonRed{
    margin-bottom: 40px;
    background-color: white;
    color: #f44336;
    border: 1px solid #f44336;
    border-radius: 5px;
}

#tbody{
    font-size: 15px;
    font-family: Arial;
}
#trTable th{
    border-bottom: 1px solid #a09d9d;

}
#tbody td{
    border-bottom: 1px solid #d3d2d2;
}
.classAddEditDelete>input{
    background-color: rgba(220, 213, 213, 0.51);
    border: 1px solid rgba(169, 153, 153, 0.51);
    border-radius: 5px;
    color: #464545;
    /*padding: 10px 30px;*/
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
}

.classAddEditDelete>input:hover{
    background-color: #3e8e41;
    color: white;
}
#tbody tr:hover {
    background-color: #6ec5fb;
    cursor: pointer;
}

.selected {
    background-color: #6ec5fb;
}
#addButton{
    display: none;
}
#canselButton{
    display: none;
}